@model Camiseta

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <img src="@Model.ImagemUrl" class="img-fluid rounded mx-auto d-block" alt="@Model.Nome" style="max-height: 300px;" />
                </div>
                <div class="card-body text-center">
                    <h3 class="card-title">@Model.Nome</h3>
                    <h2 class="card-text">@Model.Preco</h2>
                    <p class="card-text"><h4>@Model.Descricao</h4></p>
                    <div class="btn-group" role="group">
                        <a asp-controller="Camiseta" asp-action="List" class="btn btn-outline-info">Ver todas as camisetas</a>
                        <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-camisetaId="@Model.CamisetaId">
                            Adicionar @Model.Nome no carrinho
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
